
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}
div{
    height: 200px;
    width: 100px;


}
div:hover{
    transform: translateX(300px)  translateY(-200px) rotate(360deg);
    transition: 1s;
    
}
