table{
    border-collapse: collapse;
    border:solid;
    border-color: rgb(163, 105, 29);
    width:40%;
    height:40%;
    color: rgb(50, 50, 74);
    
}
td{
    
    border:dashed;
}
th{background-color: rgb(100, 171, 171);
    border:dotted,;
    border-color: rgb(177, 139, 67);
}
tr:nth-child(even){
    background-color: rgb(100, 171, 171);
}