body{
    background-color: rgb(198, 198, 198);
}
main{
    border: 2px solid rgb(198, 198, 198);
    width: 1250px;
    height: 645px;

}
#section1{
    border:2px solid rgb(198, 198, 198);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content:space-around;
}
.profile{
    
    width:20%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;

}
#section2{
    border:2px solid rgb(198, 198, 198);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    

}
.profile2{
    width: 20%;
    border:2px solid rgb(198, 198, 198);
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.img12{
    
    width: 100%;
    height: 70%;
}