body{
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p{
    display: inline;
    color: rgb(49, 49, 49);
    font-weight: 600;
    font-size: 14;
}
main{
    border-radius: 50px;
    height: 93%;
    width: 86%;
    background-color:white;
   
}
#section1{
   
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
#section1-div2{

    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
#section2{
    
    height: 84%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius:40px ;
}
#section2-div1{
    width: 48.5%;
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    background-color:  rgb(238, 99, 111);;
    border-bottom-left-radius: 40px;

    

}
#section2-div2{
    
    width: 48.5%;
    height: 99%;
    background-color:  rgb(238, 99, 111);
    border-bottom-right-radius: 40px;
}
button{
    width: 130px;
    height: 40px;
    font-size: 9px;
    font-weight: 600;
    color: gray;
    background-color: white;
    border-radius: 5px;
    border:none;
}
#big-p{
    font-size: 35px;
    color: rgb(252, 240, 243)

}
#ppp{
    color: rgb(231, 231, 231);

}